// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// Colors
$primary-black: #323232;
$primary-white: #ffffff;
$primary-dark: #405d72;
$primary-light: #758694;

$secondary-black: #000000;
$secondary-white: #fafafa;
$secondary-dark: #f7e7dc;
$secondary-light: #fff8f3;

$error-highlight: #ff0000;

// Spacing
// $site-max-width: 75.5rem;
// $auto-padding: calc((100vw - $site-max-width) / 2);
