@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
	display: flex;
	justify-content: space-between;
	background-color: $secondary-dark;
	align-items: center;
	padding: 1.5rem 2rem;
}

.logo {
	font-size: 2rem;
}
